@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
/* this is the reset style */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

html body {
  color: #f5f5f5;
  background-color: #fff;
  overflow: hidden;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-weight: bolder;
}

html p {
  font-size: 14px;
  font-weight: 600;
}

html small {
  font-weight: bolder;
}

html a {
  font-weight: bolder;
  color: #f5f5f5;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

body .section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #222629;
  width: 100%;
  padding: 0 1rem;
}

body .section-one .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 1rem auto;
}

body .section-one .nav-container .avatar {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  overflow: hidden;
}

body .section-one .nav-container .avatar img {
  width: 100%;
  height: 100%;
}

body .section-one .nav-container .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

body .section-one .nav-container .nav-menu li {
  margin: 0 1em;
  font-weight: 600;
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

body .section-one .nav-container .nav-menu .active {
  color: #61892f;
}

body .section-one .nav-container .hamburger-menu a {
  font-size: 2rem;
  color: #61892f;
}

body .section-one .screen {
  height: calc(100% - 150px);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

body .section-one .screen .main-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .section-one .screen .main-text {
  font-size: 0.25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section-one .screen .main-text h6 {
  font-size: 1rem;
  font-style: italic;
}

body .section-one .screen .main-text .border {
  border-left: 5px solid #61892f;
  padding: 2rem 0 2rem 2rem;
}

body .section-one .screen .main-text small,
body .section-one .screen .main-text #small {
  display: block;
  font-size: 10px;
  color: #474b4f;
  letter-spacing: 1px;
  font-family: 'caveat', cursive;
}

body .section-one .screen .name {
  margin: .5em 0;
  color: #61892f;
  font-size: 1.25rem;
  letter-spacing: 1rem;
}

body .section-one .screen .name .second-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section-one .screen .name .hyphen {
  background-color: #c3073f;
  width: 7rem;
  height: .3rem;
  margin-left: 1rem;
}

body .section-one .screen .jumbo-text {
  margin: 1em 0 0 0;
  padding-right: 0;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .section-one .screen .jumbo-text p {
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: bold;
}

body .section-one .screen .CTA {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 3em;
  font-size: 10px;
}

body .section-one .screen .CTA i {
  margin-left: 2em;
}

body .section-one .screen .CTA .line {
  width: 9em;
  height: .2em;
  background-color: #61892f;
}

body .section-one .social-section .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .section-one .social-section .socials i {
  font-size: large;
}

body .section-one .app {
  width: 100%;
  max-width: 900px;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section-one .app h5 span {
  color: #61892f;
}

body .section-one .form-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .section-one .form-div .arrow-img {
  position: absolute;
  bottom: 20px;
  right: 50px;
  width: 15%;
  z-index: 5;
  display: none;
}

body .section-one .form-div .arrow-img img {
  width: 100%;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}

body .section-one .form-div .arrow-img h6 {
  position: relative;
  z-index: 5;
  margin: 0 -3rem -1rem 5rem;
}

body .section-one .form-div .form-heading {
  text-align: center;
  margin: 2rem 0;
  color: #fff;
}

body .section-one .form-div .form-heading h1 {
  font-size: 1rem;
  margin: 2rem 0;
}

body .section-one .form-div form {
  width: 100%;
  margin-top: -5rem;
}

body .section-one .form-div form input,
body .section-one .form-div form textarea,
body .section-one .form-div form button {
  background: transparent;
  border: 1px solid #61892f;
  color: #fff;
}

body .section-one .form-div form .input-div {
  width: 100%;
  height: 2.5em;
  margin: .2em 0;
}

body .section-one .form-div form input {
  width: 100%;
  height: 100%;
  padding: 0 .5em;
}

body .section-one .form-div form .textarea-div {
  height: 20vh;
  margin: 0 0 .2em;
}

body .section-one .form-div form .textarea-div textarea {
  width: 100%;
  height: 100%;
  padding: 0 .5em;
  resize: none;
  padding: .5em;
}

body .section-one .form-div form button {
  width: 15em;
  height: 3em;
}

body .section-one .about-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body .section-one .about-screen .me {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

body .section-one .about-screen .me .arrow-img {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 10%;
  z-index: 5;
  display: none;
}

body .section-one .about-screen .me .img-container {
  width: 12em;
  height: 10em;
  border: 10px solid #fff;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-box-shadow: 0 3px 5px grey;
          box-shadow: 0 3px 5px grey;
}

body .section-one .about-screen .me .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .section-one .about-screen .me p {
  text-align: justify;
  padding: 0 7rem;
  margin-top: 1.5rem;
  width: 30rem;
  font-size: 10px;
  line-height: 1.5em;
  color: #f5f5f5;
}

body .section-one .about-screen .me p .TS {
  color: #61892f;
}

body .section-one .about-screen .serve {
  text-align: center;
}

body .section-one .about-screen .serve h3 {
  font-size: 1rem;
  padding: 1rem 0;
  margin: 1rem 0 0;
  color: #fff;
}

body .section-one .about-screen .serve .service-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 20px;
  grid-row-gap: 50px;
  padding: 1rem;
}

body .section-one .about-screen .serve .service-container .service-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #61892f;
  padding: 1rem;
}

body .section-one .about-screen .serve .service-container .service-banner .service-icon-container {
  position: absolute;
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #61892f;
  background: #222629;
  border-radius: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: .9em 1em;
}

body .section-one .about-screen .serve .service-container h5 {
  font-size: 1rem;
  margin: 1.5em 0 .5em;
  text-transform: uppercase;
  color: #61892f;
}

body .section-one .about-screen .serve .service-container p {
  color: #f5f5f5;
  font-weight: 500;
  font-size: 10px;
}

body .section-one .skills-screen {
  width: 100%;
  height: 100%;
}

body .section-one .skills-screen .circle-div {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section-one .skills-screen .circle-div .circle {
  position: relative;
  width: 100%;
  height: 100%;
}

body .section-one .skills-screen .circle-div .circle h3 {
  position: absolute;
  top: 0;
  left: 0;
  color: #61892f;
}

body .section-one .skills-screen .circle-div .circle .behind {
  color: #008000;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

body .section-one .skills-screen .circle-div .circle .html {
  top: 61%;
  left: 3%;
}

body .section-one .skills-screen .circle-div .circle .css {
  top: 74%;
  left: 92%;
}

body .section-one .skills-screen .circle-div .circle .js {
  top: 49%;
  left: 35%;
}

body .section-one .skills-screen .circle-div .circle .sass {
  top: 60%;
  left: 61%;
}

body .section-one .skills-screen .circle-div .circle .git {
  top: 31%;
  left: 35%;
}

body .section-one .skills-screen .circle-div .circle .bs {
  top: 23%;
  left: 60%;
}

body .section-one .skills-screen .circle-div .circle .json {
  top: 43%;
  left: 0;
}

body .section-one .skills-screen .circle-div .circle .react {
  top: 45%;
  left: 85%;
}

body .section-one .skills-screen .circle-div .circle .node {
  top: 19%;
  left: 15%;
}

body .section-one .skills-screen .circle-div .circle .gsap {
  top: 35%;
  left: 61%;
}

body .section-one .skills-screen .circle-div .circle .java {
  top: 73%;
  left: 20%;
}

body .section-two {
  display: none;
}

@media (min-width: 1200px) {
  body {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .section-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #222629;
  }
  body .section-one .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em 0;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  body .section-one .nav-container .avatar {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    overflow: hidden;
  }
  body .section-one .nav-container .avatar img {
    width: 100%;
    height: 100%;
  }
  body .section-one .nav-container .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  body .section-one .nav-container .nav-menu li {
    margin: 0 3em;
    font-weight: 600;
    text-transform: lowercase;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }
  body .section-one .nav-container .hamburger-menu a {
    font-size: 2rem;
    color: #61892f;
  }
  body .section-one .screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 208px);
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  body .section-one .screen .main-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .section-one .screen .main-text h6 {
    font-size: 1.5rem;
    font-style: italic;
  }
  body .section-one .screen .main-text .border {
    border-left: 5px solid #61892f;
    padding: 2rem 0 2rem 2rem;
  }
  body .section-one .screen .main-text small,
  body .section-one .screen .main-text #small {
    display: block;
    font-size: 14px;
    color: #474b4f;
    letter-spacing: 1px;
    font-family: 'caveat', cursive;
  }
  body .section-one .screen .name {
    margin: .5em 0;
    color: #61892f;
    font-size: 3rem;
    letter-spacing: 1.5rem;
  }
  body .section-one .screen .name .second-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .section-one .screen .name .hyphen {
    background-color: #c3073f;
    width: 7rem;
    height: .3rem;
    margin-left: 1rem;
  }
  body .section-one .screen .jumbo-text {
    margin: 1em 0 0 0;
    padding-right: 0;
    font-weight: 500;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body .section-one .screen .jumbo-text p {
    color: #f5f5f5;
    font-size: 1.25rem;
    font-weight: bold;
  }
  body .section-one .screen .CTA {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 3em;
  }
  body .section-one .screen .CTA i {
    margin-left: 2em;
  }
  body .section-one .screen .CTA .line {
    width: 9em;
    height: .2em;
    background-color: #61892f;
  }
  body .section-one .app {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  body .section-one .app h5 {
    padding: 1rem;
  }
  body .section-one .app h5 span {
    color: #61892f;
  }
  body .section-one .form-div {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  body .section-one .form-div .arrow-img {
    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 15%;
    z-index: 5;
  }
  body .section-one .form-div .arrow-img img {
    width: 100%;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  body .section-one .form-div .arrow-img h6 {
    position: relative;
    z-index: 5;
    margin: 0 -3rem -1rem 5rem;
  }
  body .section-one .form-div .form-heading {
    text-align: center;
    margin: 2rem 0;
    color: #fff;
  }
  body .section-one .form-div .form-heading h1 {
    font-size: 2rem;
    margin: 2rem 0;
  }
  body .section-one .form-div form {
    width: 60%;
    margin-top: -5rem;
  }
  body .section-one .form-div form input,
  body .section-one .form-div form textarea,
  body .section-one .form-div form button {
    background: transparent;
    border: 1px solid #61892f;
    color: #fff;
  }
  body .section-one .form-div form .input-div {
    width: 100%;
    height: 2.5em;
    margin: .2em 0;
  }
  body .section-one .form-div form input {
    width: 100%;
    height: 100%;
    padding: 0 .5em;
  }
  body .section-one .form-div form .textarea-div {
    height: 20vh;
    margin: 0 0 .2em;
  }
  body .section-one .form-div form .textarea-div textarea {
    width: 100%;
    height: 100%;
    padding: 0 .5em;
    resize: none;
    padding: .5em;
  }
  body .section-one .form-div form button {
    width: 15em;
    height: 3em;
  }
  body .section-one .about-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .section-one .about-screen .me {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .section-one .about-screen .me .arrow-img {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 10%;
    z-index: 5;
  }
  body .section-one .about-screen .me .img-container {
    width: 12em;
    height: 10em;
    border: 10px solid #fff;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    -webkit-box-shadow: 0 3px 5px grey;
            box-shadow: 0 3px 5px grey;
  }
  body .section-one .about-screen .me .img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .section-one .about-screen .me p {
    text-align: justify;
    padding: 0 2rem;
    width: 30rem;
    line-height: 2.5em;
    color: #f5f5f5;
  }
  body .section-one .about-screen .me p .TS {
    color: #61892f;
  }
  body .section-one .about-screen .serve {
    text-align: center;
  }
  body .section-one .about-screen .serve h3 {
    font-size: 1.25rem;
    padding: 1rem 0;
    color: #fff;
  }
  body .section-one .about-screen .serve .service-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 20px;
    grid-row-gap: 50px;
    padding: 1rem;
  }
  body .section-one .about-screen .serve .service-container .service-banner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #61892f;
    padding: 1rem;
  }
  body .section-one .about-screen .serve .service-container .service-banner .service-icon-container {
    position: absolute;
    top: -5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 2px solid #61892f;
    background: #222629;
    border-radius: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: .9em 1em;
  }
  body .section-one .about-screen .serve .service-container h5 {
    font-size: 1rem;
    margin: 1.5em 0 .5em;
    text-transform: uppercase;
    color: #61892f;
  }
  body .section-one .about-screen .serve .service-container p {
    color: #f5f5f5;
    font-weight: 700;
  }
  body .section-one .skills-screen {
    width: 100%;
  }
  body .section-one .skills-screen .circle-div {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .section-one .skills-screen .circle-div .circle {
    position: relative;
    width: 45rem;
    height: 45rem;
    border-radius: 100%;
  }
  body .section-one .skills-screen .circle-div .circle h3 {
    position: absolute;
    top: 0;
    left: 0;
    color: #61892f;
  }
  body .section-one .skills-screen .circle-div .circle .html {
    top: 22rem;
    left: 0;
  }
  body .section-one .skills-screen .circle-div .circle .css {
    top: 22rem;
    left: 42rem;
  }
  body .section-one .skills-screen .circle-div .circle .js {
    top: 22rem;
    left: 19rem;
  }
  body .section-one .skills-screen .circle-div .circle .react {
    top: 0;
    left: 20rem;
  }
  body .section-one .skills-screen .circle-div .circle .git {
    top: 9rem;
    left: 4rem;
  }
  body .section-one .skills-screen .circle-div .circle .bs {
    top: 9rem;
    left: 33rem;
  }
  body .section-one .skills-screen .circle-div .circle .json {
    top: 13rem;
    left: 13rem;
  }
  body .section-one .skills-screen .circle-div .circle .sass {
    top: 15rem;
    left: 27rem;
  }
  body .section-one .skills-screen .circle-div .circle .node {
    top: 34rem;
    left: 4rem;
  }
  body .section-one .skills-screen .circle-div .circle .gsap {
    top: 34rem;
    left: 38rem;
  }
  body .section-one .skills-screen .circle-div .circle .java {
    top: 43.5rem;
    left: 20rem;
  }
  body .section-two {
    position: relative;
    background: url("../assets/images/binary-1254502.svg") no-repeat center;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: rgba(204, 204, 204, 0.2);
  }
  body .section-two .mobile-content {
    display: none;
  }
  body .section-two .logo-text {
    position: absolute;
    top: 2%;
    right: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 13rem !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5em .2em;
    border: 3px double #61892f;
    z-index: 999;
  }
  body .section-two .logo-text img {
    width: 10%;
  }
  body .section-two .logo-text h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 14px;
    letter-spacing: .3em;
    color: #c3073f;
  }
  body .section-two .binary-world {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 30%;
  }
  body .section-two .bg-img-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    overflow: hidden;
  }
  body .section-two .bg-img-container img {
    width: 55%;
    height: 80%;
  }
  body .section-two .social-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 120%;
    -webkit-transform: translateX(-16%);
            transform: translateX(-16%);
  }
  body .section-two .social-section .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #61892f;
    width: 100%;
    padding: 1em 0;
    height: 6em;
  }
  body .section-two .social-section .socials i {
    color: #fff;
    font-size: 30px;
  }
  body .section-two .social-section .socials .bxl-linkedin:hover {
    color: #0072b1;
  }
  body .section-two .social-section .socials .bxl-twitter:hover {
    color: #0072b1;
  }
  body .section-two .social-section .socials .bxl-google:hover {
    color: #db4437;
  }
  body .section-two .social-section .socials .bxs-phone-call:hover {
    color: #008000;
  }
  body .section-two .skill-description {
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #61892f;
  }
  body .section-two .skill-description p {
    color: #86c232;
  }
}
/*# sourceMappingURL=style.css.map */