@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap");
/* this is the reset style */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

html body {
  color: #000;
  overflow: hidden;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-weight: bolder;
}

html p {
  font-size: 14px;
  font-weight: 600;
}

html small {
  font-weight: lighter;
  font-family: 'VT323', monospace;
}

html a {
  font-weight: bolder;
  color: #fff;
}

html .shadow {
  text-shadow: -8px 8px 8px #5a5b5c, 8px -8px 8px #ffffff;
}

html .shadow-small {
  text-shadow: -11px 11px 22px #101010, 11px -11px 22px #ffffff;
}

html .neu-light {
  border-radius: 150px;
  background: linear-gradient(225deg, #d4d8db, #fdffff);
  -webkit-box-shadow: -11px 11px 22px #a8aaad, 11px -11px 22px #ffffff;
          box-shadow: -11px 11px 22px #a8aaad, 11px -11px 22px #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html .neu-light:active {
  border-radius: 150px;
  background: #ecf0f3;
  -webkit-box-shadow: inset -11px 11px 22px #a8aaad, inset 11px -11px 22px #ffffff;
          box-shadow: inset -11px 11px 22px #a8aaad, inset 11px -11px 22px #ffffff;
}

html .neu-light-soft {
  border-radius: 25px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #e0e0e0;
  -webkit-box-shadow: -10px 10px 20px #a6a6a6, 10px -10px 20px #ffffff;
          box-shadow: -10px 10px 20px #a6a6a6, 10px -10px 20px #ffffff;
}

html .form-neu-light {
  border-radius: 12px;
  background: #ecf0f3;
  -webkit-box-shadow: inset -11px 11px 9px #b3b6b9, inset 11px -11px 9px #ffffff;
          box-shadow: inset -11px 11px 9px #b3b6b9, inset 11px -11px 9px #ffffff;
}

html .icon {
  color: #0072b1 !important;
}

@-webkit-keyframes move {
  to {
    position: fixed;
    -webkit-transform: translate(55rem, -45rem);
            transform: translate(55rem, -45rem);
    -webkit-transform: translate(-55px, 179px);
            transform: translate(-55px, 179px);
  }
}

@keyframes move {
  to {
    position: fixed;
    -webkit-transform: translate(55rem, -45rem);
            transform: translate(55rem, -45rem);
    -webkit-transform: translate(-55px, 179px);
            transform: translate(-55px, 179px);
  }
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

body .section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ecf0f3;
  width: 100%;
}

body .section-one .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 900px;
  margin: .5rem auto;
  padding: 0 1rem;
}

body .section-one .nav-container .avatar {
  width: 2.3em;
  padding: .5rem;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

body .section-one .nav-container .avatar img {
  width: 100%;
  height: 100%;
}

body .section-one .nav-container .nav-menu {
  color: #010101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

body .section-one .nav-container .nav-menu li {
  margin: 0 1em;
  font-weight: 600;
  font-size: larger;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Kaushan Script', cursive;
}

body .section-one .nav-container .nav-menu li:hover {
  color: #0072b1;
}

body .section-one .nav-container .nav-menu .active {
  color: #0072b1;
}

body .section-one .nav-container .hamburger-menu img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .section-one .nav-container .hamburger-menu img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .section-one .screen {
  position: relative;
  border-top: 1px solid #0072b1;
  border-bottom: 1px solid #0072b1;
  height: calc(110% - 150px);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}

body .section-one .screen::-webkit-scrollbar {
  display: none;
}

body .section-one .screen .main-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .section-one .screen .main-text {
  font-size: 0.25rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

body .section-one .screen .main-text h6 {
  color: transparent;
  font-size: 10px;
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 5px;
}

body .section-one .screen .main-text small,
body .section-one .screen .main-text #small {
  display: block;
  font-size: 10px;
  font-style: italic;
  color: lightgrey;
  letter-spacing: 1px;
}

body .section-one .screen .name {
  margin: .5em 0;
  font-size: 1.25rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

body .section-one .screen .name .second-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section-one .screen .name h1 {
  color: transparent;
}

body .section-one .screen .jumbo-text {
  margin: 1em 0 0 0;
  padding-right: 0;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .section-one .screen .jumbo-text p {
  height: 2rem;
  font-size: 12px;
  letter-spacing: .3rem;
  color: transparent;
  font-family: "Kaushan Script", cursive;
}

body .section-one .screen .CTA {
  border: none;
  border-radius: 15px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 1.5px solid #0072b1;
  border-right: 1.5px solid #0072b1;
  text-transform: lowercase;
  letter-spacing: 1px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 3em;
  margin-bottom: -1em;
  font-size: 10px;
  padding: 1rem;
  color: #0072b1;
  font-weight: bolder;
  cursor: pointer;
  z-index: 999;
}

body .section-one .social-section .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .section-one .social-section .socials svg {
  border-radius: 100%;
  padding: .5rem;
}

body .section-one .app {
  width: 100%;
  max-width: 900px;
  margin: .5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 1rem;
}

body .section-one .app h5 span {
  color: #0072b1;
}

body .section-one .form-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .section-one .form-div .arrow-img {
  position: absolute;
  bottom: 20px;
  right: 50px;
  width: 15%;
  z-index: 5;
  display: none;
}

body .section-one .form-div .arrow-img img {
  width: 100%;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}

body .section-one .form-div .arrow-img h6 {
  position: relative;
  z-index: 5;
  margin: 0 -3rem -1rem 5rem;
}

body .section-one .form-div .form-heading {
  text-align: center;
  margin: 2rem 0;
  color: #0072b1;
}

body .section-one .form-div .form-heading h1 {
  font-size: 1rem;
  margin: 2rem 0;
}

body .section-one .form-div form {
  width: 100%;
  margin-top: -5rem;
}

body .section-one .form-div form .form {
  overflow: hidden;
}

body .section-one .form-div form input,
body .section-one .form-div form textarea,
body .section-one .form-div form button {
  border: none;
  background: transparent;
}

body .section-one .form-div form .input-div {
  width: 100%;
  height: 2.5em;
  margin: .2em 0;
}

body .section-one .form-div form input {
  width: 100%;
  height: 100%;
  padding: 0 .5em;
  border-radius: 0px;
}

body .section-one .form-div form input::-webkit-input-placeholder {
  font-weight: 600;
}

body .section-one .form-div form input:-ms-input-placeholder {
  font-weight: 600;
}

body .section-one .form-div form input::-ms-input-placeholder {
  font-weight: 600;
}

body .section-one .form-div form input::placeholder {
  font-weight: 600;
}

body .section-one .form-div form .textarea-div {
  height: 20vh;
  margin: 0 0 .2em;
}

body .section-one .form-div form .textarea-div textarea {
  width: 100%;
  height: 100%;
  padding: 0 .5em;
  resize: none;
  padding: .5em;
}

body .section-one .form-div form svg {
  width: 50px;
  height: 50px;
  padding: 1rem;
}

body .section-one .about-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body .section-one .about-screen h3 {
  font-size: 1.25rem;
  padding: 1rem 0;
  color: #0072b1;
  text-align: center;
  margin-top: 2rem;
}

body .section-one .about-screen .me {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

body .section-one .about-screen .me .arrow-img {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 10%;
  z-index: 5;
  display: none;
}

body .section-one .about-screen .me .img-container {
  width: 12em;
  height: 10em;
  border: 10px solid #fff;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-box-shadow: 0 3px 5px grey;
          box-shadow: 0 3px 5px grey;
}

body .section-one .about-screen .me .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .section-one .about-screen .me p {
  text-align: justify;
  padding: 1rem 7rem 0 7rem;
  margin-top: 1.5rem;
  width: 30rem;
  font-size: 10px;
  line-height: 1.5em;
  height: 9rem;
  color: #808080;
}

body .section-one .about-screen .me p .TS {
  color: #0072b1;
}

body .section-one .about-screen .serve {
  text-align: center;
}

body .section-one .about-screen .serve .service-container {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 20px;
  grid-row-gap: 80px;
  padding: 1rem;
}

body .section-one .about-screen .serve .service-container .service-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 2px solid #0072b1;
  border-right: 2px solid #0072b1;
  padding: 2rem;
}

body .section-one .about-screen .serve .service-container .service-banner .service-icon-container {
  position: absolute;
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: .9em 1em;
  border-radius: 150px;
}

body .section-one .about-screen .serve .service-container h5 {
  font-size: 1rem;
  margin: 1.5em 0 .5em;
  text-transform: uppercase;
  color: #0072b1;
}

body .section-one .about-screen .serve .service-container p {
  color: #808080;
  font-weight: 500;
  font-size: 10px;
}

body .section-one .skills-screen {
  width: 100%;
  height: 100%;
}

body .section-one .skills-screen .circle-div {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section-one .skills-screen .circle-div .skill-description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .section-one .skills-screen .circle-div .circle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 50px;
}

body .section-one .skills-screen .circle-div .circle h3 {
  color: #0072b1;
  margin: 1rem 0;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section-one .skills-screen .circle-div .circle h3:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .section-one .skills-screen .circle-div .circle h3 svg {
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem;
  border-radius: 50%;
}

body .section-one .skills-screen .circle-div .circle h3 p {
  color: #0072b1;
  margin: 0 10px;
  font-weight: 900;
}

body .section-one .skills-screen .circle-div .circle .gsap img {
  width: 40px;
  height: 40px;
}

body .section-one .project-screen {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 10px;
  color: #f5f5f5;
}

body .section-one .project-screen .a-icon {
  display: none;
}

body .section-one .project-screen .project-card {
  width: 85%;
  height: 20rem;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 10px grey;
          box-shadow: 2px 2px 10px grey;
}

body .section-one .project-screen .project-card .p-img-container {
  width: 100%;
  height: 50%;
}

body .section-one .project-screen .project-card .p-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .section-one .project-screen .project-card .description {
  position: relative;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 1rem;
  color: #0072b1;
  background-color: #f5f5f5;
}

body .section-one .project-screen .project-card .description .title h1 {
  font-size: 1rem;
  letter-spacing: 2px;
}

body .section-one .project-screen .project-card .description .title p {
  font-size: 12px;
  font-weight: 100;
  margin: 5px 0;
}

body .section-one .project-screen .project-card .description .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body .section-one .project-screen .project-card .description .controls .small {
  font-size: small;
}

body .section-one .project-screen .project-card .description .controls .icon {
  padding: .2rem;
  margin: 10px;
  font-size: small;
  color: #0072b1 !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 100%;
  background: #f5f5f5;
  -webkit-box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #ffffff;
          box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #ffffff;
}

body .section-one .project-screen .project-card .description .controls .icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .section-one .project-screen .project-card .description .controls .view {
  padding: .3rem 1rem;
  border-radius: 48px;
  background: #f5f5f5;
  -webkit-box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #ffffff;
          box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #ffffff;
}

body .section-one .project-screen .project-card .description .stack {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .section-one .project-screen .project-card .description .stack ul {
  margin: 1rem 0;
}

body .section-one .project-screen .project-card .description .stack li {
  display: inline;
  margin: 0 .5rem;
  font-weight: bold;
  font-size: small;
}

body .section-one .project-screen .project-card .description .stack .view {
  color: #000;
  padding: .3rem 1rem;
  margin: 0 1rem;
  border-radius: 48px;
  background: #f5f5f5;
  -webkit-box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #ffffff;
          box-shadow: 5px 5px 5px #dadada, -5px -5px 5px #ffffff;
}

body .section-one .project-screen .project-card .description .stack .back-icon {
  cursor: pointer;
}

body .section-one .project-screen .project-card .description .stack-active {
  left: 0;
}

body .section-two {
  display: none;
}

@media only screen and (min-width: 500px) and (max-width: 698px) {
  body {
    font-size: 16px;
  }
  body .section-one .screen .main-text {
    margin-left: 3rem;
  }
  body .section-one .screen .main-text h6 {
    font-size: 1rem;
  }
  body .section-one .screen .main-text small,
  body .section-one .screen .main-text #small {
    font-size: 14px;
  }
  body .section-one .screen .name {
    font-size: 2rem;
    letter-spacing: 1.2rem;
  }
  body .section-one .screen .name .second-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .section-one .screen .jumbo-text {
    letter-spacing: .5rem;
  }
  body .section-one .screen .jumbo-text p {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .section-one .screen .CTA {
    font-size: 14px;
  }
  body .section-one .screen .CTA .line {
    width: 9.5em;
  }
  body .section-one .social-section {
    margin-top: -5rem;
  }
  body .section-one .form-div .form-heading h1 {
    font-size: 1.5rem;
  }
  body .section-one .form-div form {
    width: 80%;
  }
  body .section-one .about-screen .me {
    margin-top: 2rem;
  }
  body .section-one .about-screen .me .arrow-img {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 10%;
    z-index: 5;
    display: none;
  }
  body .section-one .about-screen .me p {
    padding: 0 5rem;
    margin-top: 3rem;
  }
  body .section-one .about-screen .serve .service-container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 5px;
    grid-row-gap: 50px;
    padding: .5rem;
  }
  body .section-one .skills-screen .circle-div {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  body .section-one .skills-screen .circle-div .circle h3:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body .section-one .skills-screen .circle-div .circle h3 img {
    width: 4rem;
  }
  body .section-one .skills-screen .circle-div .circle .gsap img {
    width: 63px;
    height: 63px;
  }
  body .section-one .project-screen .project-card {
    position: relative;
    width: 70%;
    height: 20rem;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
  }
  body .section-one .project-screen .project-card .p-img-container {
    width: 100%;
    height: 60%;
  }
  body .section-one .project-screen .project-card .description {
    height: 40%;
  }
  body .section-one .project-screen .project-card .description .title h1 {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  body .section-one .project-screen .project-card .description .title p {
    font-size: 12px;
    font-weight: 100;
    margin: 5px 0;
  }
  body .section-two {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  body {
    font-size: 16px;
  }
  body .section-one .nav-menu li {
    margin: 0 3em !important;
  }
  body .section-one .screen .main-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .section-one .screen .main-text {
    font-size: 0.25rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 1rem;
  }
  body .section-one .screen .main-text h6 {
    font-size: 16px;
  }
  body .section-one .screen .main-text small,
  body .section-one .screen .main-text #small {
    font-size: 12px;
  }
  body .section-one .screen .name {
    font-size: 2rem;
    letter-spacing: 1.5rem;
  }
  body .section-one .screen .jumbo-text p {
    margin: 0;
    font-size: 1.25rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .section-one .screen .CTA {
    font-size: 1rem;
  }
  body .section-one .screen .CTA .line {
    width: 9.5em;
  }
  body .section-one .social-section {
    height: 50%;
  }
  body .section-one .social-section .socials {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 3rem;
  }
  body .section-one .app {
    width: 100%;
    max-width: 900px;
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .section-one .app h5 span {
    color: #0072b1;
  }
  body .section-one .form-div .arrow-img {
    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 15%;
    z-index: 5;
    display: none;
  }
  body .section-one .form-div .arrow-img img {
    width: 100%;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  body .section-one .form-div .arrow-img h6 {
    position: relative;
    z-index: 5;
    margin: 0 -3rem -1rem 5rem;
  }
  body .section-one .form-div .form-heading h1 {
    font-size: 1.5rem;
  }
  body .section-one .form-div form {
    width: 80%;
  }
  body .section-one .about-screen .me {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 2rem;
  }
  body .section-one .about-screen .me .img-container {
    margin-right: -5rem;
  }
  body .section-one .about-screen .me .img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .section-one .about-screen .me p {
    padding: 0 5rem 0 7rem;
    margin-top: 1rem;
    width: 30rem;
    font-size: 12px;
    line-height: 2em;
    text-indent: 2rem;
  }
  body .section-one .about-screen .serve h3 {
    padding: 1rem 0;
    margin: 2rem 0;
  }
  body .section-one .about-screen .serve .service-container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-row-gap: 70px;
  }
  body .section-one .skills-screen .circle-div .skill-description {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  body .section-one .skills-screen .circle-div .circle h3:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body .section-one .skills-screen .circle-div .circle h3 img {
    width: 4rem;
  }
  body .section-one .skills-screen .circle-div .circle .gsap img {
    width: 63px;
    height: 63px;
  }
  body .section-one .project-screen {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 40px;
  }
  body .section-one .project-screen .a-icon {
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: large;
    color: #86c232;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
  }
  body .section-one .project-screen .project-card {
    position: relative;
    width: 100%;
    height: 20rem;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
  }
  body .section-one .project-screen .project-card .p-img-container {
    width: 100%;
    height: 55%;
  }
  body .section-one .project-screen .project-card .description {
    height: 45%;
  }
  body .section-one .project-screen .project-card .description .title h1 {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  body .section-one .project-screen .project-card .description .title p {
    font-size: 12px;
    font-weight: 100;
    margin: 5px 0;
  }
}

@media only screen and (min-width: 1200px) {
  body .section-one {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .section-one .nav-container {
    margin: 1rem auto;
  }
  body .section-one .screen .main-text h6 {
    font-size: 1rem;
  }
  body .section-one .screen .name {
    font-size: 2rem;
  }
  body .section-one .screen .jumbo-text p {
    font-size: 1rem;
  }
  body .section-one .social-section .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .section-one .social-section .socials svg {
    border-radius: 100%;
    padding: .5rem;
    width: 2.3rem;
  }
  body .section-one .app {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  body .section-one .app h5 {
    padding: 1rem;
  }
  body .section-one .app h5 span {
    color: #0072b1;
  }
  body .section-one .form-div .form-heading h1 {
    font-size: 1.5rem;
  }
  body .section-one .form-div form {
    width: 50%;
  }
  body .section-one .skills-screen {
    width: 100%;
    height: 100%;
  }
  body .section-one .skills-screen .circle-div .circle h3 svg {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 50%;
  }
  body .section-one .skills-screen .circle-div .circle .gsap img {
    width: 40px;
    height: 40px;
  }
  body .section-one .about-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .section-one .about-screen .me {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .section-one .about-screen .me .img-container {
    width: 10em;
    height: 8em;
    margin-right: -8rem;
    border: 10px solid #fff;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    -webkit-box-shadow: 0 3px 5px grey;
            box-shadow: 0 3px 5px grey;
  }
  body .section-one .about-screen .me .img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .section-one .about-screen .me p {
    text-align: justify;
    padding: 0 1rem 0 10rem;
    width: 30rem;
    line-height: 1.5em;
    font-size: 12px;
    color: #808080;
  }
  body .section-one .about-screen .me p .TS {
    color: #0072b1;
  }
  body .section-one .about-screen .serve {
    text-align: center;
  }
  body .section-one .about-screen .serve .service-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 50px;
    grid-row-gap: 80px;
    padding: 1rem;
  }
  body .section-one .about-screen .serve .service-container h5 {
    font-size: 1rem;
    margin: 1.5em 0 .5em;
    text-transform: uppercase;
    color: #0072b1;
  }
  body .section-one .about-screen .serve .service-container p {
    color: #808080;
    font-weight: 700;
  }
  body .section-one .project-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 10px;
    height: 100%;
  }
  body .section-one .project-screen .project-card {
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 !important;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-transition: background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
    transition: background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
    transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
    transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), -ms-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  }
  body .section-one .project-screen .project-card .p-img-container {
    width: 100%;
    height: 100%;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    cursor: pointer;
  }
  body .section-one .project-screen .project-card .description {
    height: 40%;
    padding: 3rem;
  }
  body .section-one .project-screen .project-card .description .controls .icon {
    font-size: medium;
  }
  body .section-one .project-screen .project-card .description .title h1 {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  body .section-one .project-screen .project-card .description .title p {
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0;
  }
  body .section-one .project-screen .project-card .description .stack ul {
    margin: 2rem 0;
  }
  body .section-one .project-screen .project-card .description .stack li {
    display: inline;
    margin: 0 .5rem;
    font-weight: bold;
  }
  body .section-one .project-screen .grow {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  body .section-one .project-screen .grow .p-img-container {
    height: 60%;
  }
}

@media only screen and (min-width: 1400px) {
  body .section-one {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .section-one .screen {
    max-width: 1200px;
  }
  body .section-one .screen .main-text h6 {
    font-size: 1.25rem;
  }
  body .section-one .screen .name {
    font-size: 3rem;
  }
  body .section-one .screen .jumbo-text p {
    font-size: 1.25rem;
  }
  body .section-one .app {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  body .section-one .app h5 {
    padding: 1rem;
  }
  body .section-one .app h5 span {
    color: #0072b1;
  }
  body .section-one .form-div .form-heading h1 {
    font-size: 1.5rem;
  }
  body .section-one .about-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .section-one .about-screen .me {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .section-one .about-screen .me .arrow-img {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 10%;
    z-index: 5;
  }
  body .section-one .about-screen .me .img-container {
    width: 12em;
    height: 10em;
    margin-right: -5rem;
  }
  body .section-one .about-screen .me .img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .section-one .about-screen .me p {
    text-align: justify;
    padding: 0 1rem 0 9rem;
    width: 30rem;
    line-height: 1.5em;
    font-size: 14px;
    height: 12rem;
    color: #808080;
  }
  body .section-one .about-screen .me p .TS {
    color: #0072b1;
  }
  body .section-one .about-screen .serve {
    text-align: center;
  }
  body .section-one .about-screen .serve h3 {
    font-size: 1.25rem;
    padding: 1rem 0;
    color: #fff;
  }
  body .section-one .about-screen .serve .service-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    padding: 1rem;
  }
  body .section-one .about-screen .serve .service-container h5 {
    font-size: 1rem;
    margin: 1.5em 0 .5em;
    text-transform: uppercase;
    color: #0072b1;
  }
  body .section-one .about-screen .serve .service-container p {
    color: #808080;
    font-weight: 500;
  }
}
/*# sourceMappingURL=style.css.map */