body {
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: 12px;

    .section-one {
        // border: 1px solid blue;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        flex: 1;
        background-color: $background-color;
        width: 100%;

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 900px;
            margin: .5rem auto;
            padding: 0 1rem;

            .avatar {
                // border: 1px solid red;
                // flex: 1;
                width: 2.3em;
                padding: .5rem;
                border-radius: 100%;
                overflow: hidden;
                cursor: pointer;



                img {
                    width: 100%;
                    height: 100%;
                }
            }


            .nav-menu {
                color: $text-color-dark;
                display: flex;
                // flex: 1;
                margin: 0;
                // display: none;

                li {
                    margin: 0 1em;
                    font-weight: 600;
                    text-transform: capitalize;
                    font-family: 'Calligraffitti',
                    sans-serif;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $g-accent-color-1;
                    }
                }

                .active {
                    color: $g-accent-color-1;
                }
            }


            .hamburger-menu {
                img {
                    transition: all 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

        }

        .screen {
            position: relative;
            border-top: 1px solid $g-accent-color-1;
            border-bottom: 1px solid $g-accent-color-1;
            height: calc(110% - 150px);
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            padding: 1rem;
            overflow-x: hidden;
            overflow-y: auto;
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */

            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }

            .main-container {
                // border: 1px solid red;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            // INTRODUCTORY DISPLAY STYLE
            .main-text {
                // border: 1px solid green;
                font-size: $sm-length-1;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 1rem;


                h6 {
                    color: transparent;
                    font-size: 10px;
                    font-style: italic;
                    font-family: 'Calligraffitti',
                    sans-serif;
                }

                .border {
                    border-left: 5px solid $g-accent-color-1;
                    // border-bottom: 2px solid red;
                    padding: 2rem 0 2rem 2rem;

                    // .introduction{
                    //     height: 25rem;
                    // }
                }

                small,
                #small {
                    display: block;
                    font-size: 10px;
                    // font-style: italic;
                    color: lightgrey;
                    letter-spacing: 1px;
                    font-family: 'caveat',
                        cursive;
                }

            }

            // .jumbo-name {
            //     font-size: $lg-length-1;
            //     width: fit-content;
            // }

            .name {
                margin: .5em 0;
                font-size: $md-length-2;
                letter-spacing: 1rem;

                .second-name {
                    display: flex;
                    align-items: center;
                }

                h1 {
                    color: transparent;
                }

            }



            .jumbo-text {
                margin: 1em 0 0 0;
                padding-right: 0;
                // line-height: 2em;
                font-weight: 500;
                width: fit-content;


                p {
                    height: 2rem;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: .3rem;
                    color: transparent;
                }
            }


            .CTA {
                // position: absolute;
                border: none;
                border-radius: 15px;
                border-bottom-right-radius: 5px;
                border-top-left-radius: 5px;
                border-left: 1.5px solid $accent-color-2;
                border-right: 1.5px solid $accent-color-2;
                text-transform: lowercase;
                letter-spacing: 1px;
                width: fit-content;
                margin-top: 3em;
                margin-bottom: -1em;
                font-size: 10px;
                padding: 1rem;
                color: $accent-color-2;
                font-weight: bolder;
                cursor: pointer;
                z-index: 999;


                &:active {
                    color: red;
                }
            }

        }

        .social-section {

            // border: 1px solid red;
            // margin-top: -3rem;
            .socials {
                display: flex;
                justify-content: space-evenly;

                svg {
                    border-radius: 100%;
                    padding: .5rem;
                }
            }
        }

        .app {
            // border: 1px solid red;
            width: 100%;
            max-width: 900px;
            margin: .5rem auto;
            display: flex;
            // flex-direction: row-reverse;
            justify-content: space-between;
            align-items: baseline;
            padding: 0 1rem;
            // text-align: center;

            h5 {

                span {
                    color: $g-accent-color-1;
                }
            }
        }

        // FORM DISPLAY STYLE
        .form-div {
            // border: 1px solid red;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .arrow-img {
                position: absolute;
                bottom: 20px;
                right: 50px;
                width: 15%;
                z-index: 5;
                display: none;

                img {
                    width: 100%;
                    transform: rotate(100deg);
                }

                h6 {
                    position: relative;
                    z-index: 5;
                    margin: 0 -3rem -1rem 5rem;
                }
            }

            .form-heading {
                text-align: center;
                margin: 2rem 0;
                color: #fff;

                h1 {
                    font-size: $md-length-1;
                    margin: 2rem 0;
                }
            }

            form {
                // border: 1px solid blue;
                width: 100%;
                margin-top: -5rem;


                .form {
                    // border: 1px solid red;
                    overflow: hidden;
                }

                input,
                textarea,
                button {
                    // border: none;
                    background: transparent;
                    border: 1px solid $accent-color-2;
                    // color: #fff;
                    // background: #222629;

                }

                .input-div {
                    width: 100%;
                    height: 2.5em;
                    margin: .2em 0;
                }

                input {
                    width: 100%;
                    height: 100%;
                    padding: 0 .5em;
                    border-radius: 0px;


                    // &::placeholder{
                    //     font-weight: bold;
                    // }
                }

                .textarea-div {
                    // border: 1px solid green;
                    height: 20vh;
                    margin: 0 0 .2em;

                    textarea {
                        width: 100%;
                        height: 100%;
                        padding: 0 .5em;
                        resize: none;
                        padding: .5em;

                    }
                }

                button {
                    width: 15em;
                    height: 3em;
                }

            }
        }

        // ABOUT AND SERVICES DISPLAY STYLES
        .about-screen {
            // border: 1px solid green;
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            width: 100%;

            h3 {
                font-size: $md-length-2;
                padding: 1rem 0;
                color: $accent-color-2;
                text-align: center;
                margin-top: 2rem;
            }

            .me {
                position: relative;
                // border: 1px solid blue;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;

                .arrow-img {
                    position: absolute;
                    bottom: 0;
                    left: 50px;
                    width: 10%;
                    z-index: 5;
                    display: none;
                }


                .img-container {
                    width: 12em;
                    height: 10em;
                    // margin: 0 auto;
                    border: 10px solid #fff;
                    transform: rotate(-20deg);
                    box-shadow: 0 3px 5px grey;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                p {
                    text-align: justify;
                    padding: 1rem 7rem 0 7rem;
                    margin-top: 1.5rem;
                    width: 30rem;
                    font-size: 10px;
                    line-height: 1.5em;
                    height: 9rem;


                    // font-weight: 400;
                    color: $text-color-light;

                    .TS {
                        color: $g-accent-color-1;
                    }
                }
            }

            .serve {
                text-align: center;
                // border: 1px solid blue;

                .service-container {
                    // border: 1px solid red;
                    margin-top: 5rem;
                    display: grid;
                    grid-template-columns: auto;
                    grid-gap: 20px;
                    grid-row-gap: 50px;
                    padding: 1rem;

                    .service-banner {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-left: 2px solid $accent-color-2;
                        border-right: 2px solid $accent-color-2;
                        padding: 2rem;


                        .service-icon-container {
                            position: absolute;
                            top: -5%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            // border: 2px solid $g-accent-color-1;
                            border-radius: 100%;
                            width: fit-content;
                            margin: 0 auto;
                            padding: .9em 1em;
                            border-radius: 150px;
                        }
                    }

                    h5 {
                        font-size: $md-length-1;
                        margin: 1.5em 0 .5em;
                        text-transform: uppercase;
                        color: $g-accent-color-1;
                    }

                    p {
                        color: $text-color-light;
                        font-weight: 500;
                        font-size: 10px;
                    }
                }
            }
        }

        .skills-screen {
            // border: 1px solid red;
            width: 100%;
            height: 100%;

            .circle-div {
                // border: 1px solid blue;
                position: relative;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .skill-description {
                    // display: none;
                    position: absolute;
                    top: 50%;
                    left: 40%;
                    width: 50%;
                    transform: translate(-50%, -50%);

                }

                .circle {

                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 0 50px;
                    // transform: scale(0.5);

                    h3 {

                        color: $g-accent-color-1;
                        margin: 1rem 0;
                        text-align: center;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:nth-child(odd) {
                            flex-direction: row-reverse;
                        }

                        svg {
                            // border: 1px solid red;
                            width: 2.5rem;
                            height: 2.5rem;
                            padding: .5rem;
                            border-radius: 50%;

                        }

                        p {
                            // text-transform: lowercase !important;
                            font-family: 'caveat', sans-serif;
                            color: $accent-color-2;
                            margin: 0 10px;
                            font-weight: 900;
                        }
                    }

                    .gsap img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .project-screen {
            // border: 1px solid red;
            position: relative;
            display: grid;
            grid-template-columns: auto;
            grid-gap: 10px;
            color: #f5f5f5;

            .a-icon {
                display: none;
            }

            .project-card {

                // border: 2px solid $g-accent-color-1;
                width: 85%;
                height: 20rem;
                border-radius: 5px;
                overflow: hidden;
                margin: 0 auto;
                box-shadow: 2px 2px 10px grey;
                // color: #010101;

                .p-img-container {
                    width: 100%;
                    height: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .description {
                    position: relative;
                    // border: 1px solid blue;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: .5rem 1rem;
                    color: $accent-color-2;
                    background-color: $project-bg-color;


                    .title {
                        h1 {
                            font-size: $md-length-1;
                            letter-spacing: 2px;
                        }

                        p {
                            font-size: 12px;
                            font-weight: 100;
                            margin: 5px 0;

                        }
                    }

                    .controls {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;

                        .small {
                            font-size: small;
                        }

                        .icon {
                            // border: 1px solid red;
                            padding: .2rem;
                            margin: 10px;
                            font-size: small;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            border-radius: 100%;
                            background: #f5f5f5;
                            box-shadow: 5px 5px 5px #dadada,
                                -5px -5px 5px #ffffff;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }

                        .view {

                            padding: .3rem 1rem;
                            border-radius: 48px;
                            background: #f5f5f5;
                            box-shadow: 5px 5px 5px #dadada,
                                -5px -5px 5px #ffffff;
                        }
                    }

                    .stack {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                        background-color: $project-bg-color;
                        color: #000;
                        transition: all 0.3s ease;

                        ul {
                            margin: 1rem 0;
                        }

                        li {
                            display: inline;
                            margin: 0 .5rem;
                            font-weight: bold;
                            font-size: small;
                        }

                        .view {
                            color: #000;
                            // border: 1px solid #000;
                            padding: .3rem 1rem;
                            margin: 0 1rem;
                            border-radius: 48px;
                            background: #f5f5f5;
                            box-shadow: 5px 5px 5px #dadada,
                                -5px -5px 5px #ffffff;
                        }

                        .back-icon {
                            cursor: pointer;
                        }
                    }

                    .stack-active {
                        left: 0;
                    }
                }


            }
        }

    }

    .section-two {
        display: none;
    }
}

// ===============================================================


// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 500px) and (max-width:698px) {
    body {
        // border: 1px solid red;
        font-size: 16px;

        .section-one {

            .screen {
                // border: 1px solid red;

                // INTRODUCTORY DISPLAY STYLE
                .main-text {

                    margin-left: 3rem;

                    h6 {
                        font-size: $md-length-1;
                    }


                    small,
                    #small {
                        font-size: 14px;
                    }

                }

                .name {
                    font-size: $lg-length-1;
                    letter-spacing: 1.2rem;

                    .second-name {
                        display: flex;
                        align-items: center;
                    }
                }



                .jumbo-text {
                    letter-spacing: .5rem;

                    p {
                        height: fit-content;
                    }
                }

                .CTA {
                    font-size: 14px;

                    .line {
                        width: 9.5em;
                    }
                }
            }

            .social-section {

                // border: 1px solid red;
                margin-top: -5rem;
            }

            // FORM DISPLAY STYLE
            .form-div {

                .form-heading {

                    h1 {
                        font-size: $md-length-3;
                    }
                }

                form {
                    // border: 1px solid blue;
                    width: 80%;
                }
            }

            // ABOUT AND SERVICES DISPLAY STYLES
            .about-screen {

                .me {

                    margin-top: 2rem;

                    .arrow-img {
                        position: absolute;
                        bottom: 0;
                        left: 50px;
                        width: 10%;
                        z-index: 5;
                        display: none;
                    }


                    p {
                        padding: 0 5rem;
                        margin-top: 3rem;
                    }
                }

                .serve {



                    .service-container {

                        grid-template-columns: auto auto;
                        grid-gap: 5px;
                        grid-row-gap: 50px;
                        padding: .5rem;
                    }
                }
            }

            .skills-screen {
                .circle-div {
                    transform: scale(0.9);

                    .circle {


                        h3 {

                            &:nth-child(odd) {
                                flex-direction: row-reverse;
                            }

                            img {
                                // border: 1px solid red;
                                width: 4rem;
                            }
                        }

                        .gsap img {
                            width: 63px;
                            height: 63px;
                        }
                    }
                }
            }

            .project-screen {

                .project-card {
                    position: relative;
                    // border: 2px solid $g-accent-color-1;
                    width: 70%;
                    height: 20rem;
                    border-radius: 5px;
                    overflow: hidden;
                    margin: 0 auto;
                    // box-shadow: 2px 2px 10px lightgrey;
                    // color: #010101;

                    .p-img-container {
                        width: 100%;
                        height: 60%;
                    }

                    .description {
                        // border: 1px solid blue;
                        height: 40%;

                        .title {
                            h1 {
                                font-size: $md-length-1;
                                letter-spacing: 2px;
                            }

                            p {
                                font-size: 12px;
                                font-weight: 100;
                                margin: 5px 0;
                            }
                        }

                    }

                }
            }

        }

        .section-two {
            display: none;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 700px) {
    body {

        font-size: 16px;

        .section-one {

            .nav-menu {


                li {
                    margin: 0 3em !important;

                }

            }

            .screen {

                .main-container {

                    flex-direction: row;
                    align-items: center;
                }

                // INTRODUCTORY DISPLAY STYLE
                .main-text {
                    // border: 1px solid green;
                    font-size: $sm-length-1;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 1rem;

                    h6 {
                        font-size: 16px;

                    }

                    small,
                    #small {

                        font-size: 12px;

                    }

                }

                .name {
                    font-size: $lg-length-1;
                    letter-spacing: 1.5rem;
                }



                .jumbo-text {

                    p {
                        margin: 0;
                        font-size: $md-length-2;
                        height: fit-content;
                    }
                }

                .CTA {

                    font-size: $md-length-1;

                    .line {
                        width: 9.5em;
                    }
                }
            }

            .social-section {
                height: 50%;

                .socials {
                    // border: 1px solid blue;
                    height: 100%;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 0 3rem;
                }
            }

            .app {
                // border: 1px solid red;
                width: 100%;
                max-width: 900px;
                margin: 1rem auto;
                display: flex;
                // flex-direction: row-reverse;
                justify-content: space-between;
                // text-align: center;

                h5 {

                    span {
                        color: $g-accent-color-1;
                    }
                }
            }

            // FORM DISPLAY STYLE
            .form-div {

                .arrow-img {
                    position: absolute;
                    bottom: 20px;
                    right: 50px;
                    width: 15%;
                    z-index: 5;
                    display: none;

                    img {
                        width: 100%;
                        transform: rotate(100deg);
                    }

                    h6 {
                        position: relative;
                        z-index: 5;
                        margin: 0 -3rem -1rem 5rem;
                    }
                }

                .form-heading {

                    h1 {
                        font-size: $md-length-3;

                    }
                }

                form {
                    // border: 1px solid blue;
                    width: 80%;
                }
            }

            // ABOUT AND SERVICES DISPLAY STYLES
            .about-screen {


                .me {
                    flex-direction: row;
                    margin-top: 2rem;

                    .img-container {

                        margin-right: -5rem;


                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    p {
                        padding: 0 5rem 0 7rem;
                        margin-top: 1rem;
                        width: 30rem;
                        font-size: 12px;
                        line-height: 2em;
                        text-indent: 2rem;
                    }
                }

                .serve {

                    h3 {
                        padding: 1rem 0;
                        margin: 2rem 0;
                    }

                    .service-container {

                        grid-template-columns: auto auto;
                        grid-row-gap: 70px;
                    }
                }
            }

            .skills-screen {

                .circle-div {
                    transform: scale(0.9);

                    .circle {


                        h3 {

                            &:nth-child(odd) {
                                flex-direction: row-reverse;
                            }

                            img {
                                // border: 1px solid red;
                                width: 4rem;
                            }
                        }

                        .gsap img {
                            width: 63px;
                            height: 63px;
                        }
                    }
                }
            }

            .project-screen {

                grid-template-columns: auto auto;
                grid-gap: 40px;

                .a-icon {
                    display: block;
                    position: absolute;
                    top: 10%;
                    left: 50%;
                    font-size: large;
                    color: $g-accent-color-2;
                    transform: translate(-50%, -50%);
                    display: none;
                }

                .project-card {
                    position: relative;
                    // border: 2px solid $g-accent-color-1;
                    width: 100%;
                    height: 20rem;
                    border-radius: 5px;
                    overflow: hidden;
                    margin: 0 auto;
                    // box-shadow: 2px 2px 10px lightgrey;
                    // color: #010101;

                    .p-img-container {
                        width: 100%;
                        height: 55%;
                    }

                    .description {
                        // border: 1px solid blue;
                        height: 45%;

                        .title {
                            h1 {
                                font-size: $md-length-1;
                                letter-spacing: 2px;
                            }

                            p {
                                font-size: 12px;
                                font-weight: 100;
                                margin: 5px 0;
                            }
                        }

                    }

                }
            }

        }

    }
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {

    body {

        .section-one {
            width: 50%;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;

            .nav-container {
                margin: 1rem auto;
            }

            .screen {


                // INTRODUCTORY DISPLAY STYLE
                .main-text {

                    h6 {
                        font-size: $md-length-1;
                    }
                }


                .name {
                    font-size: $lg-length-1;
                }



                .jumbo-text {

                    p {
                        font-size: $md-length-1;
                    }
                }

            }

            .social-section {

                // border: 1px solid red;
                // margin-top: -3rem;
                .socials {
                    display: flex;
                    justify-content: space-evenly;

                    svg {
                        border-radius: 100%;
                        padding: .5rem;
                        width: 2.3rem;
                    }
                }
            }

            .app {
                // border-left: 5px solid $g-accent-color-1;
                width: 100%;
                max-width: 900px;
                margin: 0 auto;

                h5 {
                    padding: 1rem;

                    span {
                        color: $g-accent-color-1;
                    }
                }
            }

            // FORM DISPLAY STYLE
            .form-div {

                .form-heading {

                    h1 {
                        font-size: $md-length-3;
                    }
                }

                form {
                    // border: 1px solid blue;
                    width: 50%;
                }
            }

            .skills-screen {
                // border: 1px solid red;
                width: 100%;
                height: 100%;

                .circle-div {


                    .circle {



                        h3 {



                            svg {
                                // border: 1px solid red;
                                width: 4rem;
                                height: 4rem;
                                padding: 1rem;
                                border-radius: 50%;

                            }


                        }

                        .gsap img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }

            // ABOUT AND SERVICES DISPLAY STYLES
            .about-screen {
                // border: 1px solid green;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .me {
                    position: relative;
                    // border: 1px solid blue;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .img-container {
                        width: 10em;
                        height: 8em;
                        margin-right: -8rem;
                        border: 10px solid #fff;
                        transform: rotate(-20deg);
                        box-shadow: 0 3px 5px grey;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    p {
                        text-align: justify;
                        padding: 0 1rem 0 10rem;
                        width: 30rem;
                        line-height: 1.5em;
                        font-size: 12px;

                        // font-weight: 400;
                        color: $text-color-light;

                        .TS {
                            color: $g-accent-color-1;
                        }
                    }



                }

                .serve {
                    text-align: center;
                    // border: 1px solid blue;


                    .service-container {
                        // border: 1px solid red;
                        display: grid;
                        grid-template-columns: auto auto;
                        grid-gap: 50px;
                        grid-row-gap: 80px;
                        padding: 1rem;


                        h5 {
                            font-size: $md-length-1;
                            margin: 1.5em 0 .5em;
                            text-transform: uppercase;
                            color: $g-accent-color-1;
                        }

                        p {
                            color: $text-color-light;
                            font-weight: 700;
                        }
                    }
                }
            }

            .project-screen {
                display: flex;
                grid-gap: 10px;
                height: 100%;

                .project-card {
                    position: relative;
                    // border: 1px solid $g-accent-color-1;
                    width: 50%;
                    height: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                    margin: 0 !important;
                    flex: 1;
                    transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
                        background 0.2s;
                    ;


                    .p-img-container {
                        width: 100%;
                        height: 100%;
                        // transition: all 0.3s ease;
                        cursor: pointer;
                    }

                    .description {
                        // border: 1px solid blue;
                        height: 40%;
                        padding: 3rem;

                        .title {
                            h1 {
                                font-size: $md-length-1;
                                letter-spacing: 2px;
                            }

                            p {
                                font-size: 16px;
                                font-weight: 300;
                                margin: 5px 0;
                            }
                        }

                        .stack {

                            ul {
                                margin: 2rem 0;
                            }

                            li {
                                display: inline;
                                margin: 0 .5rem;
                                font-weight: bold;
                            }


                        }


                    }


                }

                .grow {
                    flex: 5;

                    .p-img-container {
                        height: 60%;
                    }
                }

            }

        }

    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media only screen and (min-width: 1400px) {

    body {

        .section-one {
            width: 50%;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;

            .screen {
                max-width: 1200px;

                // INTRODUCTORY DISPLAY STYLE
                .main-text {

                    h6 {
                        font-size: $md-length-2;
                    }
                }


                .name {
                    font-size: $lg-length-2;
                }



                .jumbo-text {

                    p {
                        font-size: $md-length-2;
                    }
                }
            }

            .app {
                // border-left: 5px solid $g-accent-color-1;
                width: 100%;
                max-width: 900px;
                margin: 0 auto;

                h5 {
                    padding: 1rem;

                    span {
                        color: $g-accent-color-1;
                    }
                }
            }

            // FORM DISPLAY STYLE
            .form-div {

                .form-heading {

                    h1 {
                        font-size: $md-length-3;
                    }
                }

            }

            // ABOUT AND SERVICES DISPLAY STYLES
            .about-screen {
                // border: 1px solid green;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .me {
                    position: relative;
                    // border: 1px solid blue;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .arrow-img {
                        position: absolute;
                        bottom: 0;
                        left: 50px;
                        width: 10%;
                        z-index: 5;
                    }


                    .img-container {
                        width: 12em;
                        height: 10em;
                        margin-right: -5rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    p {
                        text-align: justify;
                        padding: 0 1rem 0 9rem;
                        width: 30rem;
                        line-height: 1.5em;
                        font-size: 14px;
                        height: 12rem;

                        // font-weight: 400;
                        color: $text-color-light;

                        .TS {
                            color: $g-accent-color-1;
                        }
                    }
                }

                .serve {
                    text-align: center;
                    // border: 1px solid blue;

                    h3 {
                        font-size: $md-length-2;
                        padding: 1rem 0;
                        color: #fff;
                    }

                    .service-container {
                        // border: 1px solid red;
                        display: grid;
                        grid-template-columns: auto auto;
                        padding: 1rem;

                        h5 {
                            font-size: $md-length-1;
                            margin: 1.5em 0 .5em;
                            text-transform: uppercase;
                            color: $g-accent-color-1;
                        }

                        p {
                            color: $text-color-light;
                            font-weight: 500;
                        }
                    }
                }
            }



        }

    }

}