@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');

/* this is the reset style */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans',
    sans-serif;
}

// html
html {
  scroll-behavior: smooth;
  overflow: hidden;

  // body
  body {
    color: #000;
    overflow: hidden;
  }

  // typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bolder;
  }

  p {
    font-size: 14px;
    font-weight: 600;
  }


  small {
    font-weight: lighter;
    font-family: 'VT323',
      monospace;
  }

  a {
    font-weight: bolder;
    color: #fff;
  }

  .kaligraphy {}

  .shadow {
    // text-shadow: -11px 11px 22px grey,
    //   11px -11px 22px #ffffff;
    text-shadow: -8px 8px 8px #5a5b5c,
    8px -8px 8px #ffffff;
  }

  .shadow-small {
    text-shadow: -11px 11px 22px #101010,
      11px -11px 22px #ffffff;
  }

  .grow {

    &:hover {
      // transform: scale(1.1);
    }
  }

  .neu-light {
    border-radius: 150px;
    background: linear-gradient(225deg, #d4d8db, #fdffff);
    box-shadow: -11px 11px 22px #a8aaad,
      11px -11px 22px #ffffff;
    transition: all 0.3s ease;

    &:active {
      border-radius: 150px;
      background: #ecf0f3;
      box-shadow: inset -11px 11px 22px #a8aaad,
        inset 11px -11px 22px #ffffff;
    }

  }

  .neu-light-soft {
    border-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #e0e0e0;
    box-shadow: -10px 10px 20px #a6a6a6,
      10px -10px 20px #ffffff;
  }

  .form-neu-light {
    border-radius: 12px;
    background: #ecf0f3;
    box-shadow: inset -11px 11px 9px #b3b6b9,
      inset 11px -11px 9px #ffffff;
  }

  .icon {
    color: $accent-color-2 !important;
  }

  @keyframes move {

    to {
      position: fixed;
      transform: translate(55rem, -45rem);
      transform: translate(-55px, 179px);
    }
  }

}