@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* this is the reset style */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Raleway',
    sans-serif;
}

// html
html {
  scroll-behavior: smooth;
  overflow: hidden;

  // body
  body {
    color: $text-color-light;
    background-color: $background-color-light;
    overflow: hidden;
  }

  // typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bolder;
  }

  p {
    font-size: 14px;
    font-weight: 600;
  }


  small {
    font-weight: bolder;
  }

  a {
    font-weight: bolder;
    color: #fff;
  }

  .kaligraphy {
    font-family: 'caveat', cursive;
  }

  .shadow {
    filter: drop-shadow(0px 0px 2px #f5f5f5);
  }

  .grow{
    transition: all 0.3s ease;
    &:hover{
      transform: scale(1.1);
    }
  }

  @keyframes move {

    to {
      position: fixed;
      transform: translate(55rem, -45rem);
      transform: translate(-55px, 179px);
    }
  }

}