$background-color: #ecf0f3;
$project-bg-color: #f5f5f5;
// accent colors
$text-color-light: #808080;
$text-color-dark: #010101;

$accent-color-1: #c3073f;
$accent-color-2: #0072b1;
$accent-color-3: #6f2232;


// green accents
$g-accent-color-1: #0072b1;
$g-accent-color-2: #86c232;

// small Lengths
$sm-length-1: 0.25rem;
$sm-length-2: 0.375rem;
$sm-length-3: 0.5rem;

// medium Lengths
$md-length-1: 1rem;
$md-length-2: 1.25rem;
$md-length-3: 1.5rem;

// large Lengths
$lg-length-1: 2rem;
$lg-length-2: 3rem;
$lg-length-3: 4rem;

// extra large Lengths
$xlg-length-1: 7rem;
$xlg-length-2: 9rem;
$xlg-length-3: 11rem;